{% if updateMenu is not defined %}
	{% set labelColValue = "col-lg-4" %}
	{% set inputColValue = "col-lg-8" %}
{% else %}
	{% set labelColValue = "col-lg-3" %}
	{% set inputColValue = "col-lg-9" %}
{% endif %}
{% if upload.forcedDisplay is defined and upload.forcedDisplay == true %}
	{% set checkStatus = true %}
{% endif %}
<div
	class="col-md-3 col-sm-3 {{labelColValue}} ">
	<label
		for="display-needed"
		class=" col-form-label tooltips-above"
		aria-label="Si l'affichage d'un document non validé est nécéssaire"
		style="color:white">
		Forcer l'affichage en production :
	</label>
</div>
<div
	class="col-md-9 col-sm-9 {{inputColValue}}">
	<input
		id="display-needed"
		name="display-needed"
		type="checkbox"
		class="training-toggle-input col-8"
		data-document-display-target="displayNeededToggle"
		value="true"
		{{checkStatus is defined ? (checkStatus ? "checked" : "") : ""}}>
</div>
