{% if is_granted('ROLE_MANAGER') %}
	<div
		class="accordion-item">
		<h2
			class="accordion-header"
			id="headingIluoGeneralElementsMannagement">
			<button
				class="accordion-button fs-3 collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseIluoGeneralElementsMannagement"
				aria-expanded="false"
				aria-controls="collapseIluoGeneralElementsMannagement">
				<strong>
					Formulaire de gestions des Elements Généraux ILUO :
				</strong>
			</button>
		</h2>
		<div
			id="collapseIluoGeneralElementsMannagement"
			class="accordion-collapse collapse"
			aria-labelledby="headingIluoGeneralElementsMannagement"
			data-bs-parent="#accordionIluo">
			<div
				class="accordion-body accordion-bg shadow shadow-inset p-2 p-md-3">
				<div
					class="card border-0 shadow rounded-3 my-2">
					<div
						class="card-body">
						<div
							class="row card border-0 shadow rounded-3 my-2 bg-secondary p-2 p-md-3">
							<div
								class="card-body m-0 px-0 px-md-2"
								data-controller="name-validation">
								<turbo-frame
									loading="lazy"
									class="px-0 px-md-2">
									{{ render(controller('App\\Controller\\IluoController::productsGeneralElementsAdminPageGet'), options = []) }}
								</turbo-frame>
								<hr
									class="my-4">
								<turbo-frame
									loading="lazy"
									class="px-0 px-md-2">
									{{ render(controller('App\\Controller\\IluoController::shiftleadersGeneralElementsAdminPageGet'), options = []) }}
								</turbo-frame>
								<hr
									class="my-4">
								<turbo-frame
									loading="lazy"
									class="px-0 px-md-2">
									{{ render(controller('App\\Controller\\IluoController::qualityRepGeneralElementsAdminPageGet'), options = []) }}
								</turbo-frame>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
