{% if is_granted('ROLE_MANAGER') %}

	<div
		class="accordion-item">
		<h2
			class="accordion-header"
			id="headingIluoChecklistMannagement">
			<button
				class="accordion-button fs-3 collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseIluoChecklistMannagement"
				aria-expanded="false"
				aria-controls="collapseIluoChecklistMannagement">
				<strong>
					Formulaire de gestions de la Checklist ILUO :
				</strong>
			</button>
		</h2>
		<div
			id="collapseIluoChecklistMannagement"
			class="accordion-collapse collapse"
			aria-labelledby="headingIluoChecklistMannagement"
			data-bs-parent="#accordionIluo">
			<div
				class="accordion-body accordion-bg shadow shadow-inset">
				<div
					class="card border-0 shadow rounded-3 my-2">
					<div
						class="card-body">
						<div
							class="row">

							<div
								class="card border-0 shadow rounded-3 my-2 bg-secondary">
								<turbo-frame
									loading="lazy"
									class="px-0 px-md-2">
									{{ render(controller('App\\Controller\\Iluo\\IluoChecklistController::trainingMaterialTypeAdminPageGet'), options = []) }}
								</turbo-frame>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
