<turbo-frame
	id="iluo-checklist"
	class="accordion-item">
	<div
		id="collapse-iluo-checklist"
		class="accordion-collapse collapse"
		aria-labelledby="heading-iluo-checklist"
		data-bs-parent="#accordionIluo"
		data-accordion-frame-manager-target="accordionContent">
		<div
			class="accordion-body accordion-bg shadow shadow-inset p-2 p-md-3">
			<div
				class="card border-0 shadow rounded-3 my-2">
				<div
					class="card-body">
					<div
						class="row card border-0 shadow rounded-3 my-2 bg-secondary p-2 p-md-3">
						<div
							class="card-body m-0 px-0 px-md-2 row">
							<turbo-frame
								id="iluo-checklist-content"
								src="{{path('app_iluo_checklist_admin_content')}}" loading="lazy"
								class="px-0 px-md-2"
								data-accordion-frame-manager-target="turboFrame">
								{% import 'macros/accordion_loading_animations.html.twig' as loading %}
								{{ loading.content_placeholder('text', 3, '100%') }}
							</turbo-frame>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</turbo-frame>
