{% extends 'base.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block body %}

	<div
		class="row flex-grow-1  align-items-center">
		<div
			class="col-sm-9 col-md-7 col-lg-5 mx-auto rounded bg-secondary">
			<div
				class="card border-0 shadow rounded-3 my-4 ">
				<h3
					class="card-title text-center shadow mb-4 mt-4 fw-light fs-5">
					<strong
						style="color:black">
						Formulaire de connexion
					</strong>
				</h3>
				<form
					class="form-control flex-wrap"
					method="post">
					{% if error %}
						<div
							class="alert alert-danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}

					<div
						class="form-control shadow mt-2 mb-2 flex-wrap ">
						<div
							class="tooltips-above"
							aria-label="Au format prénom.nom sans majuscule.">
							<label

								for="username">
								Nom d'utilisateur
							</label>
							<input
								type="text"
								value="{{ last_username }}" name="name"
								id="name"
								class="form-control"
								placeholder="prénom.nom">
						</div>
					</div>
					<div
						class="form-control shadow mt-2 mb-2  flex-wrap">
						<label
							for="floatingPassword">
							Mot de passe
						</label>

						<input
							type="password"
							class="form-control"
							id="floatingPassword"
							placeholder="Mot de Passe"
							name="password">
					</div>

					<input
						type="hidden"
						name="_csrf_token"
						value="{{ csrf_token('authenticate') }}">
					<div
						class="d-grid">
						<button
							class="btn btn-primary shadow btn-login text-uppercase fw-bold"
							type="submit">
							Connexion
						</button>
					</div>
					<hr
						class="my-3">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
