version: '3.8'
services:
  databasedocauposte2:
    image: mariadb:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./database_data:/var/lib/mysql
    ports:
      - "3306"
    networks:
      vpcbr:
        ipv4_address: 172.21.0.2
  phpmyadmindocauposte2:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: databasedocauposte2
    volumes:
      - ./config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
    ports:
      - "8082:80"
    networks:
      vpcbr:
        ipv4_address: 172.21.0.3
    depends_on:
      - databasedocauposte2
networks:
  vpcbr:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/16
          gateway: 172.21.0.1
