<div
	class="row">

	<div
		class="col-md-2 col-sm-2 mt-2 mb-2">
		<label
			for="incident_zone"
			style="color:white">
			Zone:
		</label>
	</div>
	<div
		class="col-md-10 col-sm-10 mt-2 mb-2">
		<select
			name="incident_zone"
			id="incident_zone"
			class="form-select"
			required>
			<option
				value=""
				selected
				disabled
				hidden>
				Choisir une Zone
			</option>
		</select>
	</div>
	<div
		class="col-md-2 col-sm-2 mt-2 mb-2">
		<label
			for="incident_productLine"
			style="color:white">
			Ligne:
		</label>
	</div>
	<div
		class="col-md-10 col-sm-10 mt-2 mb-2">
		<select
			name="incident_productLine"
			id="incident_productLine"
			class="form-select"
			required>
			<option
				value=""
				selected
				disabled
				hidden>
				Choisissez d'abord une Zone
			</option>
		</select>
	</div>
</div>
<div
	class="row">
	<div
		class="col-md-2 col-sm-2 mt-2 mb-2">
		<label
			for="incident_incidentCategory"
			style="color:white">
			Type d'incident:
		</label>
	</div>
	<div
		class="col-md-10 col-sm-10 mt-2 mb-2">
		<select
			name="incident_incidentCategory"
			id="incident_incidentCategory"
			class="form-select"
			required>
			<option
				value=""
				selected
				disabled
				hidden>
				Choisir un type d'incident
			</option>
		</select>
	</div>
</div>
<div
	class="row">
	<div
		class="col-md-2 col-sm-2 mt-2 mb-2">
		<label
			aria-label="Modifier pour changer l'ordre d'affichage"
			class="tooltips-above"
			for="incident_autoDisplayPriority"
			style="color:white">
			Priorité d'affichage:
		</label>
	</div>
	<div
		class="col-md-10 col-sm-10 mt-2 mb-2">
		<select
			name="incident_autoDisplayPriority"
			id="incident_autoDisplayPriority"
			class="form-select "
			required>
			<option
				value="0"
				selected>
				0 Non prioritaire
			</option>
			<option
				value="1">
				1
			</option>
			<option
				value="2">
				2
			</option>
			<option
				value="3">
				3
			</option>
			<option
				value="4">
				4
			</option>
			<option
				value="5">
				5 Le plus prioritaire
			</option>
		</select>
	</div>
</div>
