{% extends 'blank.html.twig' %}
{% block title %}
	Incident-Alert
{% endblock %}

{% block body %}
	<div
		class="split-container">
		<div
			id="split-left"
			class="split-panel">
			<iframe
				title="incident-file-display-for-view"
				src="{{ path('app_incident_download_file', { 'incidentId': incident.id }) }}" target="_blank"></iframe>
		</div>
		<div
			id="split-right"
			class="split-panel"
			style="text-align: center; height: 100vh">
			<div
				style="height: 30vh;"></div>
			<div
				style="vertical-align: top;"
				class="mx-auto">
				<h1>
					<strong>
						{{incidentCategory.name|split('.')|first|upper}}
					</strong>
				</h1>
			</div>
			<div
				style="height: 10vh;"></div>
			<div
				style="vertical-align: middle;"
				class="mx-auto">
				<a
					href="{{ path('app_mandatory_incident', {'incidentId': nextIncidentId, 'productLineId' : productLineId})}}" class="btn btn-warning btn-lg">
					<strong>
						Ok, J'ai compris
					</strong>
				</a>
			</div>
			<div
				style="height: 10vh;"></div>
			<div
				style=" vertical-align: bottom;"
				class="mx-auto">
				<a
					href="javascript:void(0)"
					class="btn btn-secondary"
					onclick="event.preventDefault(); window.history.back();"
					style="color:black;">
					Retour
				</a>
			</div>
		</div>
	</div>
{% endblock %}
