{% extends 'base.html.twig' %} {%block title %} Doc Au Poste | {{ parent() }}{%
endblock %} {% block body %}
<!DOCTYPE html>
<html>
<body>
    <div class="justify-content-between align-items-center" style="margin-left: 10% ">
        <p>
            <a href="{{path('app_index')}}"> <h5>Index</h5>
            </a>
        </p>
        <h2>
            <strong> Fauxremulere </strong>
        </h2>
        <p>
        <div class="col-12 col-md-8 ps-5 mb-5 mt-5 " >
            <h2 class="mb-4">La faux remu l'ére</h2>
        </div>
        </p>
    </div>
    <form action="{{path('app_upload')}}">
    </form>
    <!-- Form which will send a GET request to the current URL -->
    <form method="get">
    <label>Name:
      <input name="submitted-name" autocomplete="name" />
    </label>
    <button>Save</button>
    </form>
  
  <!-- Form which will send a POST request to the current URL -->
  <form method="post">
    <label>Name:
      <input name="submitted-name" autocomplete="name" />
    </label>
    <button>Save</button>
  </form>
  
  <!-- Form with fieldset, legend, and label -->
  <form method="post">
    <fieldset>
      <legend>Do you agree to the terms?</legend>
      <label><input type="radio" name="radio" value="yes" /> Yes</label>
      <label><input type="radio" name="radio" value="no" /> No</label>
    </fieldset>
  </form>
  
</body>
</html>
{% endblock %}
