{% extends 'base.html.twig' %}
{%block title %} Doc Au Poste | {{ parent() }}{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
    <div class="justify-content-between align-items-center" style="margin-left: 40px" >       
        <head>
            <title>Somme Mer</title> 
            <meta charset="utf-8" name="Sommaire" content="C'est ici qu'on somme des meres"/>
        </head>
            <p >
                <strong>Liste</strong> 
                <h1>Doc Au Poste</h1>
            </p>
            <body>
                <p>
                    Liste des different languages utiliser dans l'application.
                </p>               
            </body>
    </div> 
</html>
{% endblock %}