<p>
	Bonjour,
</p>
<p>
	Le document
	<strong>
		<i>
			{{upload.filename}}
		</i>
	</strong>
	a été accepté par les valideurs. Il est désormais disponible à la consultation publique.
</p>
<p>
	Vous pouvez accéder au document en vous connectant à l'application en cliquant sur le lien suivant :
	<a
		class='btn-info'
		href='http://{{ hostname|lower }}/docauposte/login'>
		Page de connexion
	</a>
</p>
<p>
	Cordialement
</p>
