<p>
	Bonjour,
</p>
{% if refusedUploads is defined %}
	{% if refusedUploads is not empty %}

		<p>

			Vous avez
			{{ refusedUploads|length }}
			documents refusés.
			{% for upload in refusedUploads %}
				{% include "services/email_templates/email_templates_component/reminderEmailToUploader_component.html.twig" %}

			{% endfor %}
		</p>
	{% endif %}
{% endif %}

{% if waitingUploads is defined  %}
	{% if waitingUploads is not empty %}
		<p>
			Vous avez
			{{ waitingUploads|length }}
			documents en attente de validations.
			{% for upload in waitingUploads %}

				{% include "services/email_templates/email_templates_component/reminderEmailToUploader_component.html.twig" %}

			{% endfor %}
		</p>
	{% endif %}
{% endif %}
<p>
	Vous pouvez accéder au document en vous connectant à l'application en cliquant sur le lien suivant :
	<a
		class='btn-info'
		href='http://{{ hostname|lower }}/docauposte/login'>
		Page de connexion
	</a>
</p>
<p>
	Cordialement
</p>
