<turbo-frame
	id="productManagement"
	class="">

	{{ form_start(productForm, { attr: { method: 'POST', action: path('app_iluo_product_general_elements_admin')}}
	) }}
	{{ form_end(productForm) }}
	<div
		data-name-validation-target="productNameMessage"
		class="productName-message"></div>
	{% if products is not empty %}
		<div
			class=" mt-auto mb-auto accordion"
			id="accordionProductList">
			<div
				class="accordion-item shadow-lg shadow-lg-inset border border-dark">
				<h2
					class="accordion-header"
					id="headingProductList">
					<button
						class="accordion-button bg-white text-dark collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseProductList"
						aria-expanded="false"
						aria-controls="collapseProductList">
						<strong>
							Liste des Produits
						</strong>
					</button>
				</h2>
				<div
					id="collapseProductList"
					class="accordion-collapse collapse "
					aria-labelledby="headingProductList"
					data-bs-parent="#accordionProductList">
					<div
						class="accordion-body bg-white text-dark">
						<ul
							class="list-group">
							{% for product in products %}
								<li
									class="list-group-item bg-white text-dark row">
									<strong
										class="col-4 ">
										{{ product.name }}
									</strong>

									{% if is_granted('ROLE_SUPER_ADMIN') %}
										<a
											href="{{path('app_iluo_delete_entity', {'entityType': 'products', 'entityId': product.id})}}" class="btn btn-danger delete-product col-4 shadow">
											Supprimer
										</a>
									{% endif %}

								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

</turbo-frame>
