<div class="row">

	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="zone" style="color:white">Zone :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="zone" id="zone" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Zone</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="productline" style="color:white">Ligne :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="productline" id="productline" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Ligne</option>
		</select>
	</div>
	{# <div class="col-md-2 col-sm-2 mt-2 mb-2">
					<label for="category" style="color:white">Categorie :</label>
				</div>
				<div class="col-md-10 col-sm-10 mt-2 mb-2">
					<select name="category" id="category" class="form-select" required>
						<option value="" selected disabled hidden>Choisir une Catégorie</option>
					</select>
				</div>
				<div class="col-md-2 col-sm-2 mt-2 mb-2">
					<label for="button" style="color:white">Bouton :</label>
				</div>
			
				<div class="col-md-10 col-sm-10 mt-2 mb-2">
					<select name="button" id="upload_button" class="form-select" required>
						<option value="" selected disabled hidden>Choisir un bouton</option>
					</select>
				</div> #}

</div>
<br>
<div class="row">
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="type" style="color:white">Type d'incident :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="type" id="type" class="form-select" required>
			<option value="" selected disabled hidden>Choisir un type d'incident</option>
		</select>
	</div>
</div>
