<div class="row">

	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="incidents_zone" style="color:white">Zone :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="incidents_zone" id="incidents_zone" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Zone</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="incidents_productline" style="color:white">Ligne :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="incidents_productline" id="incidents_productline" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Ligne</option>
		</select>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="incidents_type" style="color:white">Type d'incident :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="incidents_type" id="incidents_type" class="form-select" required>
			<option value="" selected disabled hidden>Choisir un type d'incident</option>
		</select>
	</div>
</div>
