<div class="row">

	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="incident_zone" style="color:white">Zone:</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="incident_zone" id="incident_zone" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Zone</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="incident_productline" style="color:white">Ligne:</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="incident_productline" id="incident_productline" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Ligne</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="incidents_incidentsCategory" style="color:white">Type d'incident:</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="incidents_incidentsCategory" id="incidents_incidentsCategory" class="form-select" required>
			<option value="" selected disabled hidden>Choisir un type d'incident</option>
		</select>
	</div>
</div>
