{% block stylesheets %}
	{{
            encore_entry_link_tags("app")
        }}
{% endblock %}
{% block body %}
	<div
		class="d-flex align-items-center  flex-row">

		<iframe
			src="{{ path('app_incident_download_file', { 'incidentId': incident.id }) }}" width="80%"
			class="vh-100"
			target="_blank"></iframe>
		<div
			style="width: 2%"></div>
		<div
			style="width: 16%"
			class="text-center">

			<h1
				style="text-align: center;">
				<strong>
					{{incidentCategory.name|split('.')|first|upper}}
				</strong>
			</h1>
			<div
				style="height: 40vh;"></div>

			<a
				href="{{ path('app_mandatory_incident', {'incidentId': nextIncidentId, 'productlineId' : productlineId})}}" class="btn btn-warning btn-lg">
				<strong>
					Ok, J'ai compris
				</strong>
			</a>
			<div
				style="height: 10vh;"></div>
			<a
				href="javascript:void(0)"
				class="btn btn-secondary"
				onclick="event.preventDefault(); window.history.back();"
				style="color:black">
				Retour
			</a>
			<div
				style="width: 2%"></div>

		</div>
	</div>

{% endblock %}
