{% extends 'base.html.twig' %}
{% block title %}
	Modifcation du compte de
	{{user.username|split('.')|first|upper}}
	|
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('department-creation') }}
{% endblock %}
{% block body %}
	<div
		class="card border-0 shadow rounded-3  my-3">
		<div
			class="card-body">
			<div
				class="card border-0 shadow rounded-3 my-3 mx-lg-5 bg-secondary">
				<div
					class="card-body ">
					<div
						class=" row align-items-center gy-lg-5 gy-5">
						{% include "services/account_services/account_tool_components/account_crea_mod.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
