{% extends 'blank.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('confirmation') }}
	{{ encore_entry_script_tags('document-validator') }}
{% endblock %}
{% block body %}

	<div
		class="split-container">
		<div
			id="split-left"
			class="split-panel">
			<iframe
				title="validation-file-display-for-view"
				src="{{ path('app_validation_approbation_file', { 'approbationId': approbation.id }) }}" class="vh-100"
				target="_blank"></iframe>
		</div>

		<div
			id="split-right"
			class="split-panel">
			<div
				style="height: 15vh;"></div>
			<div
				style="text-align: center;">
				<div
					class="text-center">
					{% include 'services/validation/approbation_components/_approbationWindow.html.twig' %}
				</div>
			</div>
			<div
				style="height: 15vh;"></div>
		</div>
	</div>

{% endblock %}
