{% extends 'blank.html.twig' %}
{% block javascripts %}
	{{ parent() }}
		{{ encore_entry_script_tags('confirmation') }}
{% endblock %}
{% block body %}
	<div
		class=" d-flex align-items-center flex-row"
		style="background-color:#0E3571;">

		<iframe
			src="{{ path('app_validation_approbation_file', { 'approbationId': approbation.id }) }}" class=" vh-100"
			width="69%"
			target="_blank"></iframe>
		<div
			style="width: 32%"
			class="text-center">
			{% include 'services/validation/approbation_components/_approbationWindow.html.twig' %}
		</div>
	</div>
{% endblock %}
