{% block stylesheets %}
	{{
            encore_entry_link_tags("app")
        }}
{% endblock %}


{% block body %}
	<div class="d-flex align-items-center  flex-row">

		<iframe src="{{ path('app_validation_download_file', { 'uploadId': upload.id }) }}" width="69%" height="950" target="_blank"></iframe>
		{# <div style="width: 6%"></div> #}
		<div style="width: 31%" class="text-center">
			{% block title %}Validation Page
			{% endblock %}
			<h2 style="text-align: center;">
				<strong>{{upload.filename|split('.')|first|upper}}</strong>
			</h2>
			<h3 style="text-align: center;">
				{{upload.button.name|split('.')|first|upper}}

				<div style="height: 40vh;"></div>
				<a style="text-align: center;" href="" class="btn btn-warning btn-lg">
					<strong>Ok, J'ai compris</strong>
				</a>
				<div style="height: 10vh;"></div>
				<a href="javascript:void(0)" class="btn btn-secondary" onclick="event.preventDefault(); window.history.back();" style="color:black">Retour
				</a>
			</div>
			{# <div style="width: 5%"></div> #}

		</div>
	</div>
{% endblock %}
