{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<h1>Page d'administration de la Zone
				{{zone.name}}</h1>
			<h2>Formulaire de creation de Ligne</h2>
			<div class="card border-0 shadow rounded-3 my-5 ">
				<div class="card-body row-cols-4">
					<form class="row form-floating justify-content-center " method="POST" action="{{ path('app_admin_create_productline', {id: zone.name}) }}">
						<div class="form-control mb-3">
							<input type="text" name="productlinename" placeholder="Nom de la Ligne" required>
						</div>
						<div class="form-control mb-3">
							<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Valider</bouton>
						</div>
					</form>
				</div>
			</div>
			<div>
				<h2>Formulaire de creation de compte utilisateur</h2>
				<form method="POST" action="{{ path('app_admin_create_line_admin', {id: zone.name}) }}">
					{% include "services/accountservices/create_account.html.twig" %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
