<div
	class="position-fixed bottom-0 end-0 p-3"
	style="z-index: 11">
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div
				class="toast"
				role="alert"
				aria-live="assertive"
				aria-atomic="true">
				<div
					class="toast-header text-black bg-{{ label }}">
					<strong
						class="me-auto">
						Notification
					</strong>
					<small>
						Maintenant
					</small>
				</div>
				<div
					class="toast-body"
					style="color: black;">
					{{ message|raw }}
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</div>
