@font-face {
    font-family: "Comfortaa-Light";
    src: url('../font/Comfortaa/Comfortaa-Light.ttf');
}

@font-face {
    font-family: "Franklin Gothic Book";
    src: url('../font/Franklin Gothic Book/FRABK.ttf');
}

body{
  font-family: Franklin Gothic Book;
  color:rgb(0,85,161);
}

#header {
    color: rgb(0, 85, 161);
    height: 100px;
    width: 95%;
    vertical-align: middle;
    line-height: 96px;
    margin: 2.5%;
    margin-left: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-bottom: rgb(0, 85, 161) solid 2px;
    display: flex;
    justify-content: space-between;
}
#titre {
    /*font-size: 2.5vw;*/
    font-weight: bold;
    font-size: x-large;
    font-family: Comfortaa-Light;
}
#home, #back {
    float: right;
}

#login{
  display: flex;
flex-direction: column;
width: 25%;
margin-left: calc(75%/2);
}

.liste{
  display: flex;
flex-direction: column;
width: 50%;
margin-left: calc(50%/2);
}
.itemFormListe{
  width: 45%;
}

.inputClass{
      margin-bottom: 15px;
}

.itemFormListe > .inputClass,.newElement{
      margin-bottom: 15px;
      width: calc(100% - 39px);
}
#inputgroup{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#liste{
  display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

.itemListe{
  margin-bottom: 10px;
      background-color: #0055a1;
    border-radius: 3px;
    padding: 5px;
    //border: 1px silver solid;
    width: 100%;
    text-align: center;
    text-decoration: none;
  color:white;
}

.doubleIteme{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doubleIteme > div:first-child{
    margin-right:10px;
  }

#input_num_moules,#input_num_references{
  background-color: white;
  color:#0055a1;
}
input:not(.inputClass){
  min-width: 350px;
}

select,input{
    padding-left: 3px;
    border: 1px solid #0055a1;
    color: #0055a1;
    height: 18px;
}
select{
  height: 22px;
}

input[type=submit]{
  color:white;
  background-color: #0055a1;
  height: 25px;
}

#deleteButton {
    background: red;
    border-color: red;
    color: white;
    height: 25px;
    float: right;
}


.oldLibelDocType{
  width: 20%
}

.table{
  width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#documentElement{
  margin-top:2%;
}

form{
  margin: 0 2%;
}
.toggle {
    margin-right: 20px;
}
