{% if updateMenu is not defined %}
	{% set labelColValue = "col-lg-4" %}
	{% set inputColValue = "col-lg-8" %}
{% else %}
	{% set labelColValue = "col-lg-3" %}
	{% set inputColValue = "col-lg-9" %}
{% endif %}
{% if upload.training is defined and upload.training == true %}
	{% set checkStatus = true %}
{% endif %}
<div
	class="col-md-3 col-sm-3 {{labelColValue}} ">
	<label
		for="training-needed"
		class=" col-form-label tooltips-above"
		aria-label="Si la formation et la signature des opérateurs est nécéssaire"
		style="color:white">
		Formation nécessaire :
	</label>
</div>
<div
	class="col-md-9 col-sm-9 {{inputColValue}}">
	<div
		class="toggle-container tooltips-above"
		aria-label="Si la formation et la signature des opérateurs est nécéssaire">
		<input
			id="training-needed"
			name="training-needed"
			type="checkbox"
			class="training-toggle-input"
			value="true"
			data-document-training-target="trainingNeededToggle"
			{{checkStatus is defined ? (checkStatus ? "checked" : "") : ""}}>
	</div>
</div>
