<div
	class=" row">
	<label
		for="training-needed"
		class="form-label col-4"
		style="color:white">
		Formation nécessaire :
	</label>
	<input
		id="training-needed"
		type="checkbox"
		class="training-toggle-input col-8">
</div>
