<div class="row">

	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="zone" style="color:white">Zone :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="zone" id="zone" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Zone</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="productline" style="color:white">Ligne :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="productline" id="productline" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Ligne</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="category" style="color:white">Categorie :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="category" id="category" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Catégorie</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="button" style="color:white">Bouton :</label>
	</div>

	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="button" id="upload_button" class="form-select" required>
			<option value="" selected disabled hidden>Choisir un bouton</option>
		</select>
	</div>

</div>
<!-- Your HTML -->
<div id="validation_department">
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="departmentSelect" style="color:black">Service :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="departmentSelect" class=" departmentSelect">
			<option value="" selected hidden disabled>Choisir un Service</option>
		</select>
	</div>
</div>
<!-- Your HTML -->
<div id="departmentsContainer">
	<select class="departmentSelect">
		<option value="">Select a department...</option>
		<option value="department1">Department 1</option>
		<option value="department2">Department 2</option>
		<option value="department3">Department 3</option>
		<!-- Add more departments as needed -->
	</select>
</div>
