<div class="row">

	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="zone">Zone :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="zone" id="zone" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Zone</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="productline">Ligne :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="productline" id="productline" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Ligne</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="category">Categorie :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="category" id="category" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Catégorie</option>
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="button">Bouton :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="button" id="button" class="form-select" required>
			<option value="" selected disabled hidden>Choisir un bouton</option>
		</select>
	</div>
</div>
{{ dump(zones) }}
{{ dump(productLines) }}
{{ dump(categories) }}
{{ dump(buttons) }}
