{% if is_granted('ROLE_LINE_ADMIN') %}
	<div
		class="accordion-item">
		<h2
			class="accordion-header"
			id="headingUpload">
			<button
				class="accordion-button fs-3 collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseUpload"
				aria-expanded="false"
				aria-controls="collapseUpload">
				<strong>
					Formulaire d'upload :
				</strong>
			</button>
		</h2>
		<div
			id="collapseUpload"
			class="accordion-collapse collapse"
			aria-labelledby="headingUpload"
			data-bs-parent="#accordionAdmin">
			<div
				class="accordion-body accordion-bg shadow shadow-inset">
				<div
					class="card border-0 shadow rounded-3 my-5">
					<div
						class="card-body">
						<div
							class="row">
							<form
								action="{{path('app_generic_upload_files')}}" method="POST"
								enctype="multipart/form-data">
								<div
									class="card border-0 shadow rounded-3 my-5 bg-secondary">
									<div
										class="card-body ">
										<h4
											class="card-title text-white m-0">
											<strong>
												Ajouter un fichier :
											</strong>
										</h4>
										<form
											class="form-floating justify-content-center "
											id="upload-form"
											action="{{path('app_generic_upload_files')}}" method="POST"
											enctype="multipart/form-data">
											<div
												class="row d-flex align-items-center gy-5">
												<div
													class="fallback"
													data-controller="filename-validation">
													<label
														for="file"
														class="form-label"
														style="color:white">
														Choisissez un fichier :
													</label>
													<input
														type="file"
														class="form-control"
														id="file"
														name="file"
														data-filename-validation-target='filename'
														data-action='change->filename-validation#validateFilename'
														accept=".pdf"
														required>
													<div
														data-filename-validation-target="message"
														class="filename-message"></div>

													<div
														class="mb-3">
														<label
															for="newFilename"
															class="form-label"
															style="color:white">
															Nouveau nom du fichier (optionnel):
														</label>
														<input
															type="text"
															class="form-control"
															id="newFilename"
															data-filename-validation-target='newFilename'
															data-action='keyup->filename-validation#validateNewFilename'
															name="newFilename"
															placeholder="Entrer un nouveau nom de fichier (optionnel)">
													</div>
													<div
														data-filename-validation-target="message"
														class="newFilename-message"></div>
													<div
														class="mb-3">
														<label
															for="originalFilePath"
															class="form-label"
															style="color:white">
															Emplacement du fichier source (optionnel) :
														</label>
														<input
															type="text"
															class="form-control"
															id="originalFilePath"
															name="originalFilePath"
															placeholder="Entrer l'emplacement du fichier source (optionnel)">
													</div>
													{% include 'services/uploads/uploads_components/cascading_dropdowns.html.twig' %}
												</div>
											</div>
											<div
												class="row justify-content-center">
												<div
													class="d-grid col-md-8">
													<button
														type="submit"
														class="btn btn-primary text-uppercase fw-bold ">
														Charger
													</button>
												</div>
											</div>
										</form>

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endif %}
