<p>
	<div
		class="inner-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
		<p>
			{% if button.uploads|length > 0 %}
				<div
					class="d-flex  mb-5 mt-5 line-list align-items-center justify-content-center flex-wrap">
					{% for upload in button.uploads %}
						{% set validated = '' %}
						{% if upload.oldUpload != null and  upload.validation != null and upload.validation.status is same as(null)%}
							{% set validated = 'download-non-validated-but-old' %}
						{% elseif upload.oldUpload != null and  upload.validation != null and upload.validation.status is same as(false) %}
							{% set validated = 'download-refused-but-old' %}
						{% elseif  upload.validation != null and upload.validation.status is same as(null)  %}
							{% set validated = 'download-non-validated-upload' %}
						{% elseif  upload.validation != null and upload.validation.status is same as(false) %}
							{% set validated = 'download-refused-upload' %}
						{% endif %}
						<a
							class="btn btn-primary btn-lg m-5 {{validated}}"
							role="button"
							aria-pressed="true"
							style="color:white"
							href="{{path('app_download_file', {uploadId:upload.id })}}">
							<span
								class="line-details">
								{{ upload.filename|split('.')|first|upper }}
							</span>
						</a>
					{% endfor %}
				</div>
			{% else %}
				{% if is_granted('ROLE_LINE_ADMIN') %}
					<div
						class="card border-0 shadow rounded-3 my-5">
						<div
							class="card-body">
							<div
								class="row">

								{% include "services/uploads/upload.html.twig" %}
							</div>
						</div>
					</div>
				{% else %}
					<a
						class="btn-warning btn btn-lg fa fa-arrow-circle-o-left"
						style="color:red"
						href="javascript:void(0)"
						onclick="event.preventDefault(); window.history.back();">
						Retour
					</a>
				{% endif %}
			{% endif %}
		</p>
	</div>
</p>
