{% extends 'base.html.twig' %}
{% block title %}
	Admin Operateurs
{% endblock %}
{% block body %}
	<script>
		{% set fieldsName = ['Nom de l\'operateur', 'Prenom de l\'operateur', 'Code de l\'operateur', 'Equipe de l\'operateur', 'UAP de l\'operateur', 'Est-il un formateur?'] %}
{% set fields = ['lastname', 'firstname', 'code', 'team', 'uap', 'isTrainer'] %}
	</script>
	<div
		class="card bg-secondary container row mb-2">
		<h2
			class="mt-2"
			style="color:white;">
			Ajouter un nouvel Opérateur
		</h2>

		{% include '/services/operators/admin_component/_adminAddOperator.html.twig' %}


		<h2
			style="color:white;">
			Liste des Opérateurs
		</h2>

		{% include '/services/operators/admin_component/_adminListOperatorSearchForm.html.twig' %}
		<turbo-frame
			id="adminListOperator">
			{% include '/services/operators/admin_component/_adminListOperator.html.twig' %}
		</turbo-frame>
	</div>
{% endblock %}
