{% import "macros/accordion_loading_animations.html.twig" as loading %}
{% extends 'base.html.twig' %}
{% block title %}
	Admin Opérateurs
{% endblock %}
{% block body %}
	<script>
		{% set fieldsName = ['Nom de l\'opérateur', 'Prenom de l\'opérateur', 'Code de l\'opérateur', 'Equipe de l\'opérateur', 'UAPs de l\'opérateur', 'Est-il un formateur?'] %}
{% set fields = ['lastname', 'firstname', 'code', 'team', 'uaps', 'isTrainer'] %}
	</script>

	<div
		class="card bg-secondary container row mb-2">
		<h2
			class="mt-2"
			style="color:white;">
			Ajouter un nouvel Opérateur
		</h2>

		{% include '/services/operators/admin_component/_adminAddOperator.html.twig' %}
		<div
			class="container">

			<form
				class=" justify-content-center row mt-3 mb-0"
				id="operator-import-form"
				action="{{path('app_operator_import')}}" method="POST"
				enctype="multipart/form-data">

				<div
					class="col-8">
					<h2
						style="color:white;">
						Liste des Opérateurs
					</h2>
				</div>
				{% if is_granted('ROLE_ADMIN', object = null, field = null) %}

					<div
						class="col-3">
						<label
							for="operator-import-file"
							class="form-label tooltips"
							aria-label="Importer une liste formaté: ID;CodeOPE;PRENOM;NOM;EQUIPE;UAP et 1000 caractére par ligne max"
							style="color:white;">
							<input
								type="file"
								class="form-control "
								id="operator-import-file"
								name="operator-import-file"
								aria-label="Importer une liste formaté: ID;CodeOPE;PRENOM;NOM;EQUIPE;UAP et 1000 caractére par ligne max"
								accept=".csv"
								placeholder="Importer un fichier CSV">
						</div>
						<div
							class="col-1  align-self-center">
							<button
								type="submit"
								class="btn btn-primary">
								send
							</button>
						</div>
					{% else %}
						<div
							class="col-4">
							<p
								style="color:white;">
								Seul un administrateur peut importer des opérateurs
							</p>
						</div>

					{% endif %}

				</form>


			</div>

			{% include '/services/operators/admin_component/_adminListOperatorSearchForm.html.twig' %}
			<turbo-frame
				id="adminListOperator"
				 loading="lazy">
				{% include '/services/operators/admin_component/_adminListOperator.html.twig' %}
				{# {{ loading.skeleton_loader('table', 'Liste Opérateur','fa-cogs', 'success',4) }} #}
			</turbo-frame>
		</div>
		{% if app.request.query.get('open_print') and app.session.get('print_operator_url') %}
			<script>
				window.open('{{ app.session.get('print_operator_url') }}', '_blank');
{% do app.session.remove('print_operator_url') %}
			</script>
		{% endif %}
	{% endblock %}
