{% extends 'base.html.twig' %}
{% block title %}
	Admin Opérateurs
{% endblock %}
{% block body %}
	<script>
		{% set fieldsName = ['Nom de l\'opérateur', 'Prenom de l\'opérateur', 'Code de l\'opérateur', 'Equipe de l\'opérateur', 'UAP de l\'opérateur', 'Est-il un formateur?'] %}
{% set fields = ['lastname', 'firstname', 'code', 'team', 'uap', 'isTrainer'] %}
	</script>
	<span>
		<form
			class="justify-content-center "
			id="operator-import-form"
			action="{{path('app_operator_import')}}" method="POST"
			enctype="multipart/form-data">
			<input
				type="file"
				class="form-control"
				id="operator-import-file"
				name="operator-import-file"
				accept=".csv">
			<button
				type="submit"
				class="btn btn-primary">
				send
			</button>
		</form>
	</span>
	<div
		class="card bg-secondary container row mb-2">
		<h2
			class="mt-2"
			style="color:white;">
			Ajouter un nouvel Opérateur
		</h2>

		{% include '/services/operators/admin_component/_adminAddOperator.html.twig' %}


		<h2
			style="color:white;">
			Liste des Opérateurs
		</h2>

		{% include '/services/operators/admin_component/_adminListOperatorSearchForm.html.twig' %}
		<turbo-frame
			id="adminListOperator">
			{% include '/services/operators/admin_component/_adminListOperator.html.twig' %}
		</turbo-frame>
	</div>
{% endblock %}
