

@import "custom";
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap';
@import "~@fontsource/roboto-condensed/index.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~select2/dist/css/select2.min';

body {
    background-color: #2c5066;
    color: #d4b2b2;
    font-family: "Roboto Condensed", sans-serif;
}

.line-list i {
    margin-top: 7px;
}

.line-list a {
    color: #fff;
}

.line-details {
    background-color: #222f36;
    border-radius: 5px;
    padding: 5px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(30, 106, 152);
    background: linear-gradient( 180deg, rgba(23, 36, 44, 1) 1%, rgba(34, 47, 54, 1) 97%);
    border-radius: 5px;
}

.div {
    border-top: 4px dashed blue;
    background-color: gold;
    height: 100px;
    width: 100px;
    font-weight: bold;
    text-align: center;  
}

p,
dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}

.img-fluid {
    max-width: auto;
    height: auto;
}

table,
td {
    border: 2px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #b80d0d;
    font-style: italic;
    color: #c0e90b;
}

aside>p {
    margin: 0.5rem;
}

p {
    font-family: "Fira Sans", sans-serif;
}

form {
    display: table;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
    margin: 0.6rem;
}

label {
    padding-right: 10px;
    margin: 5%;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

// custom styles

.accordion-bg {
    background-color: #cfe2ff;
}

$shadow-color: rgba(0, 0, 0, 1); // Change to desired color

.shadow-sm-inset {
  box-shadow: inset 0 -0.125rem -0.25rem $shadow-color;
}

.shadow-inset {
  box-shadow: inset 0 -0.5rem -1rem $shadow-color;
}

.shadow-lg-inset {
  box-shadow: inset 0 -1rem -3rem $shadow-color;
}

.black-text {
    color: black;
}

.right-line {
  border-right: 5px #ccc solid;
  height:2em
}

.top-line {
  border-top: 5px #ccc solid;
}

.halved {
  width: 50%;
  float:left;
}