@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

/* body {
    background-color: lightgray;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
} */
/* body {
    background-color: rgb(12, 24, 179);
} */
body {
    background-color: #2c5066;
    color: #d4b2b2;
    font-family: 'Roboto Condensed', sans-serif;
}

.line-list i {
    margin-top: 7px;
}

.line-list a {
    color: #fff;
}

.line-details {
    background-color: #222F36;
    border-radius: 5px;
    padding: 5px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(30, 106, 152);
    background: linear-gradient(180deg, rgba(23,36,44,1) 1%, rgba(34,47,54,1) 97%);
    border-radius: 5px;

}

.div {
    border-top: 4px dashed blue;
    background-color: gold;
    height: 100px;
    width: 100px;
    font-weight: bold;
    text-align: center;
  }
  
  p,
dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}
