@import "~bootstrap/";
@import "~@fontsource/roboto-condensed/index.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: #2c5066;
    color: #d4b2b2;
    font-family: "Roboto Condensed", sans-serif;
}

.line-list i {
    margin-top: 7px;
}

.line-list a {
    color: #fff;
}

.line-details {
    background-color: #222f36;
    border-radius: 5px;
    padding: 5px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(30, 106, 152);
    background: linear-gradient(180deg, rgba(23, 36, 44, 1) 1%, rgba(34, 47, 54, 1) 97%);
    border-radius: 5px;
}

.div {
    border-top: 4px dashed blue;
    background-color: gold;
    height: 100px;
    width: 100px;
    font-weight: bold;
    text-align: center;
}

p,
dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}

.img-fluid {
    max-width: auto;
    height: auto;
}

table,
td {
    border: 2px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #b80d0d;
    font-style: italic;
    color: #c0e90b;
}

aside>p {
    margin: 0.5rem;
}

p {
    font-family: "Fira Sans", sans-serif;
}

form {
    display: table;
}

input {
    display: table-cell;
    margin-bottom: 10px;
}


legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

// custom styles

.accordion-bg {
    background-color: #cfe2ff;
}

$shadow-color: rgba(0, 0, 0, 1); // Change to desired color

.shadow-sm-inset {
    box-shadow: inset 0 -0.125rem -0.25rem $shadow-color;
}

.shadow-inset {
    box-shadow: inset 0 -0.5rem -1rem $shadow-color;
}

.shadow-lg-inset {
    box-shadow: inset 0 -1rem -3rem $shadow-color;
}

.black-text {
    color: black;
}

.right-line {
    border-right: 5px #ccc solid;
    height: 2em
}

.top-line {
    border-top: 5px #ccc solid;
}

.halved {
    width: 50%;
    float: left;
}

.operator-input {
    width: 50%;
    /* Adjust this width as necessary */
}

.capitalize-all-letters {
    text-transform: uppercase;
}

.custom-container-flex-grow {
    display: flex;
}

.custom-flex-grow {
    flex-grow: 1;
}



.checkbox-wrapper-35 .switch {
    display: none;
}

.checkbox-wrapper-35 .switch+label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
    content: '';
    display: block;
}

.checkbox-wrapper-35 .switch+label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 17px;
    margin-right: 6px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 27px;
}

.checkbox-wrapper-35 .switch+label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 15px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 15px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 25px;
    overflow: visible;
    padding-right: 10px; // Add more padding if needed
    width: auto; // Make sure the width is not constraining the content
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    overflow: visible;
    padding-right: 10px; // Add more padding if needed
    width: auto; // Make sure the width is not constraining the content
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    overflow: visible;
    padding-right: 10px; // Add more padding if needed
    width: auto; // Make sure the width is not constraining the content
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
    background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.suggestions {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    max-height: 200px;
    overflow-y: auto;
}

.suggestions-list {
    display: none;
    /* Hide by default, shown by JS */
    background: #fff;
    /* Background color same as inputs */
    // border: 1px solid #ccc;
    /* To mimic a dropdown */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: for better visibility */
    z-index: 100;
    /* Make sure it's above other content */
    max-height: 200px;
    /* Limit height and make it scrollable */
    overflow-y: auto;
    width: 100%;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 0rem;
    margin-top: -0.6rem;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    line-height: 1;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.nameSuggestions {
    cursor: pointer;
}

.nameSuggestions:hover {
    background-color: #f0f0f0;
}

.traininglist-suggestions {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    max-height: 200px;
    overflow-y: auto;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 0.6rem;
    margin-top: -0.6rem;
}

.traininglist-suggestions-list {
    display: none;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 0.6rem;
    margin-top: -0.6rem;
}

.traininglist-suggestion-item {
    padding: 10px;
    cursor: pointer;
    line-height: 1;
}

.traininglist-suggestion-item:hover {
    background-color: #f0f0f0;
}

.traininglist-nameSuggestions {
    cursor: pointer;
}

.traininglist-nameSuggestions:hover {
    background-color: #f0f0f0;
}


.training-toggle-input {
    --s: 25px;
    /* adjust this to control the size*/

    height: calc(var(--s) + var(--s)/5);
    width: auto;
    /* some browsers need this */
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s)/2);
    display: grid;
    cursor: pointer;
    background-color: #ff7a7a;
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.training-toggle-input:before {
    content: "";
    padding: calc(var(--s)/10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
    background:
        var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
        var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
        #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s)/12)) contrast(11);
    transition: .4s, background-position .4s .1s,
        padding cubic-bezier(0, calc(var(--_i, -1)*200), 1, calc(var(--_i, -1)*200)) .25s .1s;
}

.training-toggle-input:checked {
    background-color: #85ff7a;
}

.training-toggle-input:checked:before {
    padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
    --_p: 100%;
    --_i: 1;
}

.training-toggle-input-body {
    background: #15202a;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}


/* Create a new class for tooltip functionality without changing button appearance */
.tooltips-above {
    position: relative;
    /* les .tooltips-above deviennent référents */
    cursor: help;
}

/* Add a separate class for circular tooltips-above */
.tooltips-above-circle {
    border-radius: 50%;
}

/* Generate ::after pseudo-element on hover and focus */
.tooltips-above:hover::after,
.tooltips-above:focus::after {
    /* Display the content of the aria-label attribute */
    content: attr(aria-label);
    /* on affiche aria-label */
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%);
    /* on centre horizontalement  */
    z-index: 1;
    /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;
    /* Allow text to wrap */
    padding: 5px 14px;
    background: #413219;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
}

.tooltips-above[aria-label]:hover:before,
.tooltips-above[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    /* on centre horizontalement  */
    font-size: 20px;
    color: #413219;
}

/* pas de contour durant le :focus */
.tooltips-above[aria-label]:focus {
    outline: none;
}


/* Create a new class for tooltip functionality without changing button appearance */
.tooltips-below {
    position: relative;
    /* les .tooltips-above deviennent référents */
    cursor: help;
}

/* Add a separate class for circular tooltips-above */
.tooltips-below-circle {
    border-radius: 50%;
}

/* Generate ::after pseudo-element on hover and focus */
.tooltips-below:hover::after,
.tooltips-below:focus::after {
    /* Display the content of the aria-label attribute */
    content: attr(aria-label);
    /* on affiche aria-label */
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%);
    /* on centre horizontalement  */
    z-index: 1;
    /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;
    /* Allow text to wrap */
    padding: 5px 14px;
    background: #413219;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
}

.tooltips-below[aria-label]:hover:before,
.tooltips-below[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    /* on centre horizontalement  */
    font-size: 20px;
    color: #413219;
}

/* pas de contour durant le :focus */
.tooltips-below[aria-label]:focus {
    outline: none;
}



/* Add this new class */
.toggle-container {
    display: inline-block;
    position: relative;
}



/* Adjust the tooltip positioning for toggle inputs */
.toggle-container.tooltips-above:hover::after,
.toggle-container.tooltips-above:focus::after {
    content: attr(aria-label);
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
    padding: 5px 14px;
    background: #413219;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
}

.toggle-container.tooltips-above[aria-label]:hover:before,
.toggle-container.tooltips-above[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #413219;
}


.pretty-toggle {
    --s: 25px;
    /* adjust this to control the size*/

    height: calc(var(--s) + var(--s)/5);
    width: auto;
    /* some browsers need this */
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s)/2);
    display: inline-grid;
    /* Change from 'grid' to 'inline-grid' */
    vertical-align: middle;
    /* Aligns toggle vertically with text */
    cursor: pointer;
    background-color: #ff7a7a;
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pretty-toggle:before {
    content: "";
    padding: calc(var(--s)/10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
    background:
        var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
        var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
        #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s)/12)) contrast(11);
    transition: .4s, background-position .4s .1s,
        padding cubic-bezier(0, calc(var(--_i, -1)*200), 1, calc(var(--_i, -1)*200)) .25s .1s;
}

.pretty-toggle:checked {
    background-color: #85ff7a;
}

.pretty-toggle:checked:before {
    padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
    --_p: 100%;
    --_i: 1;
}

.pretty-toggle-body {
    background: #15202a;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}

/* Skeleton screen styles */
.skeleton-form-group {
    animation: pulse 1.5s infinite;
}
.skeleton-label {
    height: 16px;
    width: 120px;
    background-color: #e9ecef;
    border-radius: 4px;
    margin-bottom: 8px;
}
.skeleton-input {
    height: 38px;
    width: 100%;
    background-color: #e9ecef;
    border-radius: 4px;
}
.skeleton-checkbox {
    height: 20px;
    width: 20px;
    background-color: #e9ecef;
    border-radius: 4px;
}
.skeleton-text {
    height: 16px;
    background-color: #e9ecef;
    border-radius: 4px;
}
.skeleton-card {
    background-color: #f8f9fa;
    border-radius: 8px;
}
.skeleton-card-header {
    height: 24px;
    width: 70%;
    background-color: #e9ecef;
    border-radius: 4px;
}

/* Loading icon animation */
.loading-icon {
    animation: bounce 1s infinite alternate;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.split-container {
    display: flex;
    height: 100vh;
}
.split-panel {
    overflow: hidden;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter:hover {
    background-color: #ddd;
}


@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

