<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>C'est Hess Hess! Le Menu</title>
    <meta name="La page du C'est Hess Hess" content="La petite page marron" />
</head>

<body>
    <header>
        <img src="{{asset('Plastic_Omnium.svg')}}" alt="Le logo" width="60%">
        <h1>C'est Hess Hess!</h1>
        <nav>
            <ul>
                <li><a href="{{path('app_css')}}">IndexCSS</a></li>
                <li><a href="{{path('app_menu')}}">MenuCSS</a></li>
                <li><a href="{{path('app_contact')}}">ContactCSS</a></li>
            </ul>
        </nav>
        <p>
            <h4>
                La page du C'est Hess Hess
            </h4>
        </p>
        <p>
            <h5>
                La petite page marron
            </h5>
        </p>
    </header>
    <article>
        <table>
            <tr>
                <td colspan="2">
                    <h2>Plats Principal</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Desert</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>PeakOil</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
            <tr>
                <td>
                    <strong>Burger à la ritale</strong><br> Pain, viande, tomate, salade, oignons, sauce ritale.
                </td>
                <td>24 €</td>
            </tr>
        </table>
    </article>
    <footer>
        <address>
            1 rue du C'est Hess Hess, 67000 Strasbourg
        </address>
    </footer>

</body>

</html>