<ul>
	<div
		class="row">
		{% for fieldName in fieldsName %}
			<div
				class="col"
				style="color:white;">
				{{ fieldName }}
			</div>
		{% endfor %}
		<div
			class="col mx-auto"
			style="color:white;">
			Actions
		</div>
	</div>
</ul>
<ul>
	{{ form_start(newOperatorForm, {'attr': {'class': 'row', 'name': 'newOperator', 'id': 'newOperator'}}
	) }}
	{% for field in fields %}
		{{ form_row(newOperatorForm[field],{
				'attr': {
					'id': 'newOperator' ~ field|capitalize,
					'data-operator-admin-creation-target': 'newOperator' ~ field|capitalize,
					'data-action': field == 'firstname' ? 'keyup->operator-admin-creation#validateNewOperator' ~ field|capitalize ~ ' input->operator-admin-creation#capitalizeFirstLetterMethod' : 'keyup->operator-admin-creation#validateNewOperator' ~ field|capitalize,
				}
			}) }}
	{% endfor %}
	<button
		type="submit"
		class="btn btn-primary text-uppercase col my-auto mx-auto"
		data-operator-admin-creation-target="newOperatorSubmitButton"
		disabled>
		Ajouter l'Opérateur
	</button>
	{{ form_end(newOperatorForm) }}
	<div
		class="card">
		<input
			type="hidden"
			id="newOperatorName"
			name="newOperatorName">
		<div
			data-operator-admin-creation-target="newOperatorNameMessage"
			class="newOperatorName-message d-flex justify-content-evenly"></div>
		<div
			data-operator-admin-creation-target="newOperatorCodeMessage"
			class="newOperatorCode-message d-flex justify-content-evenly"></div>
		<div
			data-operator-admin-creation-target="newOperatorTransferMessage"
			class="newOperatorTransfer-message d-flex justify-content-evenly"></div>
	</div>
</ul>
