<ul>
	<div
		class="card container mt-3 "
		data-controller="operator-admin-search">
		<form
			class="row mt-2 gap-1 align-items-center top"
			method="post"
			action="{{ path('app_operator') }}" data-turbo-frame="adminListOperator"
			id="adminListOperator-form">
			<input
				type="hidden"
				name="search"
				value="true">
			<input
				data-operator-admin-search-target="operatorAdminSearchNameInput"
				data-action="keyup->operator-admin-search#submitSearchForm"
				class="form-control shadow col"
				type="search"
				name="search_name"
				id="search_name"
				placeholder="Recherche par nom">
			<input
				data-operator-admin-search-target="operatorAdminSearchCodeInput"
				data-action="keyup->operator-admin-search#submitSearchForm"
				class="form-control shadow col"
				type="search"
				pattern="\d{1,5}"
				maxlength="5"
				name="search_code"
				id="search_code"
				placeholder="Recherche par CodeOpé">
			<input
				data-operator-admin-search-target="operatorAdminSearchTeamInput"
				data-action="keyup->operator-admin-search#submitSearchForm"
				class="form-control shadow col"
				type="search"
				name="search_team"
				id="search_team"
				placeholder="Recherche par Equipe"
				list="team-list">
			<datalist
				id="team-list">
				{% for team in teams %}
					{% if team.name is same as 'INDEFINI' %}
					{% endif %}
					<option
						value="{{ team.name }}"></option>
				{% endfor %}
			</datalist>

			<input
				data-operator-admin-search-target="operatorAdminSearchUapInput"
				data-action="keyup->operator-admin-search#submitSearchForm"
				class="form-control shadow col"
				type="search"
				name="search_uap"
				id="search_uap"
				placeholder="Recherche par UAP"
				list="uap-list">
			<datalist
				id="uap-list">
				{% for uap in uaps %}
					{% if uap.name is same as 'INDEFINI' %}
					{% endif %}
					<option
						value="{{ uap.name }}"></option>
				{% endfor %}
			</datalist>

			<input
				type="search"
				data-operator-admin-search-target="operatorAdminSearchIsTrainerInput"
				data-action="change->operator-admin-search#submitSearchForm"
				class="form-control shadow col"
				placeholder="Est-il Formateur?"
				name="search_trainer"
				id="search_trainer"
				list="trainer-list">
				<datalist
					id="trainer-list">
					<option
						value="all">
						Tous
					</option>
					<option
						value="true">
						Formateur
					</option>
					<option
						value="false">
						Non Formateur
					</option>
				</datalist>
			</input>

			<input
				data-operator-admin-search-target="operatorAdminSearchSubmit"
				class="btn btn-primary col"
				placeholder="Search"
				type="submit">
		</form>
	</div>
</ul>
