{% extends 'base.html.twig' %}

{% block title %}Hello LineAdminController!
{% endblock %}

{% block body %}
	<div class="container">

		<div>
			<h1>Page d'administration de la ligne
				{{productLine.name|capitalize}}</h1>
		</div>
		<div>
			<h2>Formulaire de creation de categories</h2>
		</div>
		<div class=" card border-0 shadow rounded-3 my-5 ">
			<div class="card-body ">
				<div class="row">
					<div class="col-md-6">
						<form class="form-floating justify-content-center " method="POST" action="{{ path('app_line_admin_create_category', {id: productLine.name}) }}">
							<div class="form-control mb-3">
								<input type="text" name="categoryname" placeholder="Nom de la Catégorie" required>
							</div>
							<div class="form-control mb-3">
								<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Valider</bouton>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<ul>
							{% for category in categories %}
								<li>{{ category.name }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h2>Formulaire de creation de compte utilisateur</h2>
			<form method="POST" action="{{ path('app_line_admin_create_manager', {id: productLine.name}) }}">
				{% include "services/accountservices/create_account.html.twig" %}
			</form>
		</div>
	</div>
</div>{% endblock %}
