{% extends 'base.html.twig' %}

{% block title %}
	ZoneAdminCenter
{% endblock %}

{% block body %}

	<h1
		class="my-4">
		<strong>
			Page d'administration des Lignes de la Zone
			{{zone.name|split('.')|first|upper}}
		</strong>
	</h1>
	<div
		class="accordion"
		id="accordionAdmin">
		<div
			class="accordion-item">
			<h2
				class="accordion-header"
				id="headingProductLine">
				<button
					class="accordion-button fs-3 collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseProductLine"
					aria-expanded="false"
					aria-controls="collapseProductLine">
					<strong>
						Formulaire de création de Ligne :
					</strong>
				</button>
			</h2>
			{% include "zone_admin/zone_admin_components/line_creation_form.html.twig" %}

		</div>
		<div
			class="accordion-item">
			<h2
				class="accordion-header"
				id="headingUpload">
				<button
					class="accordion-button fs-3 collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseUpload"
					aria-expanded="false"
					aria-controls="collapseUpload">
					<strong>
						Formulaire de chargement de fichier :
					</strong>
				</button>
			</h2>
			<div
				id="collapseUpload"
				class="accordion-collapse collapse"
				aria-labelledby="headingUpload"
				data-bs-parent="#accordionAdmin">
				<div
					class="accordion-body accordion-bg shadow shadow-inset">
					<div
						class="card border-0 shadow rounded-3 my-5">
						<div
							class="card-body">
							<div
								class="row">
								<form
									action="{{path('app_generic_upload_files')}}" method="POST"
									enctype="multipart/form-data">
									{% include "services/uploads/upload.html.twig" %}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="accordion-item">
			<h2
				class="accordion-header"
				id="headingIncident">
				<button
					class="accordion-button fs-3 collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseIncident"
					aria-expanded="false"
					aria-controls="collapseIncident">
					<strong>
						Formulaire d'ajout d'Incident :
					</strong>
				</button>
			</h2>
			<div
				id="collapseIncident"
				class="accordion-collapse collapse"
				aria-labelledby="headingIncident"
				data-bs-parent="#accordionAdmin">
				<div
					class="accordion-body accordion-bg shadow shadow-inset">
					<div
						class="card border-0 shadow rounded-3 my-5">
						<div
							class="card-body">
							<div
								class="row">

								<form
									action="{{path('app_generic_upload_incident_files')}}" method="POST"
									enctype="multipart/form-data">
									{% include "services/incidents/incidents.html.twig" %}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="accordion-item">
			<h2
				class="accordion-header"
				id="headingUploadedList">
				<button
					class="accordion-button fs-3 collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseUploadedList"
					aria-expanded="false"
					aria-controls="collapseUploadedList">
					<strong>
						Liste des fichiers chargés :
					</strong>
				</button>
			</h2>
			<div
				id="collapseUploadedList"
				class="accordion-collapse collapse"
				aria-labelledby="headingUploadedList"
				data-bs-parent="#accordionAdmin">
				<div
					class="accordion-body accordion-bg shadow shadow-inset">
					<div
						class="row">
						<div>
							{% include "services/uploads/uploaded_list.html.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="accordion-item">
			<h2
				class="accordion-header"
				id="headingValidatedList">
				<button
					class="accordion-button fs-3 collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseValidatedList"
					aria-expanded="false"
					aria-controls="collapseValidatedList">
					<strong>
						Liste des validations :
					</strong>
				</button>
			</h2>
			<div
				id="collapseValidatedList"
				class="accordion-collapse collapse"
				aria-labelledby="headingValidatedList"
				data-bs-parent="#accordionAdmin">
				<div
					class="accordion-body accordion-bg shadow shadow-inset">
					<div
						class="row">
						<div>
							{% include "services/validation/validation_list.html.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
