{% extends 'base.html.twig' %}
{% block title %}
	Upload pour
	{{button.name|split('.')|first|capitalize}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div>
		<div class="container">
			{% set matchinguploads = [] %}
			{% for upload in uploads %}
				{% if upload.button.id is same as(button.id)  %}
					{% set matchinguploads = matchinguploads|merge([upload]) %}
				{% endif %}
			{% endfor %}
			<p>
				{% if matchinguploads|length > 1 or matchinguploads|length < 1 %}
					<div class="justify-content-between align-items-center ">
						<h2>
							<strong>
								Upload pour
								{{button.name|split('.')|first|capitalize}}
							</strong>
						</h2>
						{% include 'services/uploads/uploaded.html.twig' %}
					</div>
				</div>
			{% else %}
				<div class="justify-content-between align-items-center ">
					<h2>
						<strong>
							Upload pour
							{{button.name}}
						</strong>
					</h2>
					<p>
						<strong>
							Aucun upload pour ce bouton
						</strong>
					</p>
				</div>
			{% endif %}
		</p>
	</div>
{% endblock %}
