{% extends 'base.html.twig' %}
{%block title %}
	Sommere |
	{{ parent() }}
{% endblock %}
{% block body %}
	<!DOCTYPE html>
	<html>
		<body>
			<div class="justify-content-between align-items-center" style="margin-left: 10% ">

				<h2>
					<strong>
						Sommere
					</strong>
				</h2>
				<p>
					<div class="col-12 col-md-8 ps-5 mb-5 mt-5 ">
						<h2 class="mb-4">La somme des meres</h2>


					</p>
				</p>
			</p>
		</body>
	</html>
</body></html></p></body></body></html></body></html></div></body> </html></p></div></body></html>{% endblock %}
