<turbo-frame
	id="training-records"
	class="d-flex flex-column mx-2 justify-content-evenly">

	{% if team is defined and uap is defined and team is not empty and uap is not empty %}
		<div
			id="trainerValidation"
			name="trainerValidation">
			<div
				name="trainerSection"
				id="trainerSection"
				class="card bg-light mb-3">

				<h6
					class="card-title mx-2 mb-0 ">
					Identifiant Formateur
				</h6>
				<div
					class="d-flex flex-fill">
	
					<input
						type="text"
						class="form-control "
						data-operator-trainer-target="trainerOperatorName"
						data-action="input->operator-trainer#validateTrainerOperatorName"
						data-upload-id="{{upload.id}}" placeholder="prenom.nom"
						id="trainerOperatorName"
						name="trainerOperatorName"
						style="flex:0.5;"
						required>
					<input
						type="password"
						class="form-control"
						data-operator-trainer-target="trainerOperatorCode"
						data-action="input->operator-trainer#validateTrainerOperatorCode "
						placeholder="Code Opérateur"
						id="trainerOperatorCode"
						name="trainerOperatorCode"
						style="flex:0.5;"
						required
						disabled>
					<div
						id="trainerLogOutContainer"
						name="trainerLogOutContainer"></div>
				</div>
			</div>
			<div
				data-operator-trainer-target="trainerOperatorNameMessage"
				class="trainerOperatorName-message d-flex justify-content-evenly"></div>
			<div
				data-operator-trainer-target="trainerOperatorCodeMessage"
				class="trainerOperatorCode-message d-flex justify-content-evenly"></div>

			<form
				action="{{path('app_training_new_operator', {'uploadId': upload.id, 'teamId': team.id, 'uapId': uap.id})}}" method="post"
				name="newOperatorContainer"
				id="newOperatorContainer"
				data-turbo-frame="training-records-form"></form>

		</div>
	{% endif %}
	<turbo-frame
		id="training-records-form">
		{% include "services/operators/training_component/_listOperator.html.twig" %}
	</turbo-frame>

</turbo-frame>
