<div
	class="accordion mx-auto col-8 justify-content-center"
	id="accordionValidator">
	<div
		class="accordion-item">
		<div
			class="accordion-header tooltips-above"
			aria-label="ATTENTION : N'utilisez qu'en cas de changement de validateur."
			id="validatorNeeded-header">
			{% if upload.validation is null %}
				<input
					type="hidden"
					name="validatorRequired"
					value="false">
			{% endif %}
			<input
				type="checkbox"
				class="btn-check"
				name="validatorRequired"
				id="validatorRequired"
				autocomplete="off"
				value="true"
				data-action="click->document-training#modificationDocumentValidatorCheckboxClicked click->document-display#modificationDocumentValidatorCheckboxClickedForcedDisplay"
				data-document-training-target="modificationDocumentTrainingValidatorCheckbox"
				data-document-display-target="modificationDocumentDisplayValidatorCheckboxForcedDisplay">
			<label
				class="accordion-button m-0 mt-0 mb-0 btn btn-outline-primary collapsed"
				for="validatorRequired"
				data-bs-toggle="collapse"
				data-bs-target="#validatorNeeded"
				aria-expanded="false"
				aria-controls="validatorNeeded"
				id="validatorSelect">
				<strong>
					Validation du Document
				</strong>
			</label>
		</div>
		<div
			id="validatorNeeded"
			aria-labelledby="validatorNeeded-header"
			data-bs-parent="#accordionValidator"
			class="accordion-collapse collapse">
			<div
				class="accordion-body row">
				<div
					class="col-md-2 col-sm-2 mt-2 mb-2">
					<label
						for="validator_user"
						style="color:black">
						Valideur:
					</label>
				</div>
				<div
					id="validatorContainer"
					class="col-md-10 col-sm-10 mt-2 mb-2">
					<select
						class="form-select validatorUserSelect"
						name="validator_user"
						id="validator_user"></select>
				</div>
			</div>

			{% if upload.validation is null %}
				<div
					class="d-grid col-8 mt-2 mb-2 mx-auto">
					<div
						class="input-group justify-content-center">
						<div
							class="input-group-prepend tooltips-above"
							aria-label="Commentaire obligatoire uniquement en cas de modification majeure.">
							<span
								class="input-group-text">
								Commentaire
							</span>
							<textarea
								class="form-control"
								name="modificationComment"
								aria-label="textarea"
								rows="2"
								cols="50"></textarea>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

</div>

{% if upload.validation is not null %}
	<div
		class="d-grid col-8 mt-2 mb-2 mx-auto">
		<div
			class="input-group justify-content-center">
			<div
				class="input-group-prepend tooltips-above"
				aria-label="Commentaire obligatoire uniquement en cas de modification majeure.">
				<span
					class="input-group-text ">
					Commentaire
				</span>
				<textarea
					class="form-control"
					name="modificationComment"
					rows="2"
					cols="50"></textarea>
			</div>
		</div>
	</div>

{% endif %}
