<turbo-frame
	id="training-records-form">
	{% if selectedOperators is defined and selectedOperators is not empty %}


		<form
			class="d-flex flex-column justify-content-evenly"
			id="trainingRecords-form"
			method="post"
			action="{{path('app_training_record_form', {'uploadId': upload.id, 'teamId': team.id, 'uapId': uap.id})}}">
			<p
				style="flex:1;"
				class=" mx-2 card text-center">
				Liste des Opérateurs de l'équipe
				{{team.name}}
				pour l'UAP
				{{uap.name ~ '.'}}
			</p>

			<strong>
				{% if operatorsByTrainer is defined and operatorsByTrainer is not empty %}
					{% for trainerName, operators in operatorsByTrainer %}

						<p
							class="mx-2 card text-center"
							style="flex:1;">
							Liste des Opérateurs formés par
							{{ trainerName != null ? trainerName|upper|split('.')|last ~ ' ' ~ trainerName|capitalize|split('.')|first 
							: 'un formateur inconnu' }}
						</p>

						{% for operator in operators  %}
							{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
							{% include 'services/operators/component/_listOperatorPart_operator_listing_form.html.twig' with {'operator': operator, 'trainingRecord': trainingRecord} %}
						{% endfor %}
					{% endfor %}
				{% endif %}

				{% if inTrainingOperatorsByTrainer is defined and inTrainingOperatorsByTrainer is not empty %}
					{% for trainerName, operators in inTrainingOperatorsByTrainer %}

						<p
							style="flex:1;"
							class=" mx-2 card text-center">
							Liste des Opérateurs en attente de réentrainement au process.
						</p>
						{% for operator in operators %}
							{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}

							{% include 'services/operators/component/_listOperatorPart_operator_listing_form.html.twig' with {'operator': operator, 'trainingRecord': trainingRecord} %}

						{% endfor %}


					{% endfor %}
				{% endif %}
				{% if untrainedOperators is defined and untrainedOperators is not empty %}
					<p
						style="flex:1;"
						class=" mx-2 card text-center">
						Liste des Opérateurs jamais formés au process.
					</p>
					{% for operator in untrainedOperators %}
						{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
						{% include 'services/operators/component/_listOperatorPart_operator_listing_form.html.twig' with {'operator': operator, 'trainingRecord': trainingRecord} %}


					{% endfor %}
				{% endif %}

			</strong>
			<div

				id="trainingValidationSubmitContainer"
				name="trainingValidationSubmitContainer"></div>
		</form>
	{% else %}
		{% if trainingRecords is defined and trainingRecords is not empty %}
			<p
				style="flex:1;"
				class=" mx-2 card text-center">
				Liste de tous les opérateurs formés, tout UAP et équipe confondu.
				<br>
				Pour modifier ces informations, veuillez sélectionner une équipe et une UAP.
			</p>
			{% for record in trainingRecords %}
				{% include 'services/operators/component/_listOperatorPart_operator_listing.html.twig' with {'operator': record.operator, 'trainingRecord': record} %}

			{% endfor %}
			<p
				style="flex:1;"
				class=" mx-2 card text-center">
				Liste de tous les opérateurs Non-formés, tout UAP et équipe confondu.
				<br>
				Pour modifier ces informations, veuillez sélectionner une équipe et une UAP.
			</p>
			{% for operator in operators %}
				{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
				{% if trainingRecord == null %}

					{% include 'services/operators/component/_listOperatorPart_operator_listing.html.twig' with {'operator': operator, 'trainingRecord': trainingRecord} %}

				{% endif %}
			{% endfor %}
		{% else %}
			<p
				style="flex:1;"
				class=" mx-2 card">
				Aucune liste correspondant aux critéres n'a été trouvé, sélectionnez d'autres critéres ou ajouté des opérateurs à la liste.
			</p>
			{% for operator in operators %}
				{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
				{% include 'services/operators/component/_listOperatorPart_operator_listing.html.twig' with {'operator': operator, 'trainingRecord': trainingRecord} %}
			{% endfor %}
		{% endif %}
	{% endif %}
</turbo-frame>
