<hr
	class="my-4">
<div
	class="accordion d-grid col-10"
	id="accordionValidator">
	<div
		class="accordion-item ">
		<div
			class="accordion-header"
			id="validatorNeeded-header">
			<input
				type="hidden"
				name="validatorRequired"
				value="false">

			<input
				type="checkbox"
				class="btn-check"
				name="validatorRequired"
				id="validatorRequired"
				autocomplete="off"
				value="true"
				data-action="click->document-training#validatorCheckboxClicked"
				data-document-training-target="newDocumentTrainingValidatorCheckbox">
			<label
				class="accordion-button m-0 mt-0 mb-0 btn btn-outline-primary collapsed"
				for="validatorRequired"
				data-bs-toggle="collapse"
				data-bs-target="#validatorNeeded"
				aria-expanded="false"
				aria-controls="validatorNeeded"
				id="validatorSelect">
				<strong>
					Validation du Document
				</strong>
				&nbsp; (Ouvrez le menu pour activer la validation de document, fermez le pour la désactiver)
			</label>

		</div>
		<div
			id="validatorNeeded"
			aria-labelledby="validatorNeeded"
			data-bs-parent="#accordionValidator"
			class="accordion-collapse collapse ">

			<div
				class="accordion-body row ">

				<div
					class="col-md-2 col-sm-2 mt-2 mb-2">
					<label
						for="validator_user"
						style="color:black">
						Valideur :
					</label>
				</div>

				<div
					id="usersContainer"
					class="col-md-10 col-sm-10 mt-2 mb-2">
					<select
						class="form-select userSelect"
						name="validator_user"
						id="validator_user"></select>
				</div>
			</div>
			<div
				class="d-grid col-8 mt-2 mb-2 mx-auto">
				<div
					class="input-group  justify-content-center">
					<div
						class="input-group-prepend">
						<span
							class="input-group-text">
							Commentaire
						</span>
						<textarea
							class="form-control"
							name="validationComment"
							id="validationComment"
							aria-label="With textarea"
							rows="2"
							cols="50"></textarea>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>

<hr
	class="my-4">
