{% block body %}
	<aside>

		<div class="container-fluid align-center justify-content-center">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<p>
						{% if app.user is null %}
							Vous n'êtes pas connecté!
							<a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
						{% else %}
							Vous êtes connecté en tant que
							{{ app.user.username }}
							<a class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>

						{% endif %}
					</p>
				</li>
			</ul>
		</div>
	</aside>
{% endblock %}
